@import url('https://rsms.me/inter/inter.css');

$color-white: #F3F5F7;
$color-black: #02253E;
$color-light: rgba(2, 37, 62, .33);
$color-lighter: rgba(2, 37, 62, .15);
$color-blue: #229EC5;

$color-gray: #efefef;